body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
}

.barranavegacao {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  height: 54px;
  top: 0;
  left: 0;
  margin-bottom: 34px;
  z-index: 1;
}


.icone ion-icon {
  height: 19.25px;
  width: 19.25px;
}

.icones ion-icon {
  height: 19.25px;
  width: 19.25px;
}

.botoes ion-icon {
  height: 19.25px;
  width: 19.25px;
}

.barranavegacaomobile {
  display: none;
}
.barrabarra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 896px;
  height: 54px;
  margin: auto;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal img {
  border-left: 1px solid #DBDBDB;
  padding-left: 10px;
  ;
}
.principal ion-icon {
  padding-right: 11.38px;
}

.pesquisar {
  color: #979797;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  width: 215px;
  height: 28px;
  left: 575px;
  top: 13px;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

.botoes {
  width: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barranavegacaobottom {
  display: none;
}
.conteudo {
  max-width: 943px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 54px;
  background-color: #E5E5E5;
}

.stories {
  max-width: 614px;
  height: 118px;
  background-color: #FFFFFF ;
  display: flex;
  gap: 14px;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  color: #262626;
  border: 1px solid #DBDBDB;
  margin-top: 34px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
}

.vector {
  position: absolute;
  left: 579px;
  right: 7px;
  color: #FFFFFF;
}

.novegag {
  margin-left: 18px;
}

.thumbnail {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(stories_background.jpg);
  background-size: cover;
  overflow: hidden;
  margin-bottom: 5px;
}
.thumbnail img {
  width: 56px;
  height: 56px;
}
.story {
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user {
  height: 61px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.user ion-icon {
  position: relative;
  top: 25.5px;
  right: 10px;
}

.perfil p {
  padding-left: 17px;
}
.thumname {
  display: flex;
  align-items: center;
  padding-left: 17px;
}

.thumname img {
  padding-right: 15px;
}

.post1, .post2 {
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  width: 614px;
  height: 749px;
  left: 215px;
  top: 230px;
  margin-bottom: 60px;
}

.user p {
  font-weight: 500;
  font-size: 14px;
  color:#000000
}

.acoes {
  height: 76px;
}

.icones {
  height: 42px;
  width: 614px;
  margin-left: 17px;
  gap: 18px;
  display: flex;
  align-items: center;
  position: relative;
}

.bandeira {
  position: absolute;
  right: 33.62px;
  height: 19.25px;
  width: 19.25px;
}

.curtidas {
  display: flex;
  align-items: center;
  padding-left: 17px;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.curtidas p {
  padding-left: 9px;

}

.esquerda {
  width: 105.94px;
  display: flex;
  justify-content: space-between;
}
.icones ion-icon {
  width: 16.5px;
  height: 15.13px;
}

.sidebar {
  max-width: 293px;
  height: 387px;
  margin-top: 57px;
  padding-left: 30px;
}

.perfil {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: ;
  padding-bottom: 24px;
}

.nomeperfil {
  width: 182px;
  height: 34px;
}

.catana {
  color: #8E8E8E;
  font-weight: 300;
  font-size: 14px;
}
.pravoce {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
}

.informacoes, .marca {
  font-weight: normal;
  font-size: 11px;
  color:#C7C7C7;
  width: 300px;
  height: 42px;
  line-height: 13px;
}

.sugestoes {
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sug {
  display: flex;
  justify-content: start;
  align-items: stretch;
  padding-bottom: 16px;
}

.sugestvoce {
  font-weight: 500;
  font-size: 12px;
  color: #8E8E8E;
}

.usuario {
  width: 213px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vertudo {
  font-weight: 500;
  font-size: 12px;
  color: #262626;

}
.nome {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  padding-bottom: 6px;
}

.status {
  font-weight: normal;
  font-size: 12px;
  color: #8E8E8E;
}

.seguir{
  font-weight: 500;
  font-size: 12px;
  color: #139EF2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre {
  padding-bottom: 18px;
}

@media (max-width: 935px) {
  .barrabarra {
      margin-left: 21.38px ;
  }
  
  .sidebar {
      display: none;
  }

}

@media (max-width: 614px) {
  .barranavegacaobottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #FFFFFF;
      width: 100%;
      height: 54px;
      position: fixed;
      margin: auto;
      bottom: 0;
      z-index: 1;
  }
  .barrabarra {
      display: none;
  }
  .barranavegacaomobile {
      max-width: 531.44px;
      height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto 21.38px 
  }